@import url("https://fonts.xz.style/serve/inter.css");
@import url("https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css");

label {
display: block;
}

#div_top_hypers {
    background-color:#eeeeee;
    display:inline;
}
#ul_top_hypers li{
    display: inline;
    margin-left: 50px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}
